$color-primary: #181651;
$color-primary-medium: #444276;
$color-primary-medium:#DDDCF5;

$color-secondary: #ED3338;

$color-tertiary: #707070;

$color-shadow: #A1A1A1;

$color-black: #000000FC;
$color-white:#FFFFFF;