.hero{
    background-color: $color-primary;
    height: 100vh;
    position: relative;
}

.herotext-margin{
    margin-top: 15rem;
}

.herocard1{
margin-top: 13rem;
width: 16rem;
height: 12rem;
position: absolute;
}

.herocard2{
margin-top: 7.5rem;
width: 15.9rem;
height: 17.6rem;
position: absolute;
margin-left: 18rem;
}


.herocard3{   
width: 17.6rem;
height: 15.9rem;
margin-top: 27rem;
right: 31rem;
position: absolute;
}


.herocard4{
width: 17.6rem;
height: 15.9rem;
margin-left: 17rem;
margin-top: 27rem;
position: absolute;
}
.eventimage{
    height: 30rem;
    background-image: url("../../asset/images/homeevent1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.testimony-section{
    background-color: $color-primary;
    width: 100vw;
    height: 20rem;
    margin-top: 5rem;

    &__text{
            font-weight: 600;
            font-size: 2rem;
            text-align: center;
           padding: 3rem;
    }
}