.social-icon{
    width: 1rem;
    height: 1rem;
    fill: black;
    display: inline-block;
}

.social-icon-t{
    width: 1rem;
    height: 1rem;
    fill: #63CEEF;
    display: inline-block;
}

.social-icon-f{
    width: 1rem;
    height: 1rem;
    fill: #63CEEF;
    display: inline-block;
}

.social-icon-f{
    width: 1rem;
    height: 1rem;
    fill: #4E74EE;
    display: inline-block;
}

.social-icon-p{
    width: 1rem;
    height: 1rem;
    fill: #ED3338;
    display: inline-block;
}

.social-icon-i{
    width: 1rem;
    height: 1rem;
    fill: #ED3338;
    display: inline-block;
}

.social-icon-l{
    width: 1rem;
    height: 1rem;
    fill:  #4E74EE;
    display: inline-block;
}

