body {
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-white;
    font-size: 2rem;
    @media(max-width: 768px){
        font-size: 1.5rem;
    }
}

.herotext{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 7rem;

    @media(max-width: 768px){
        font-size: 1.5rem;
    }
    &_bold{
        font-weight: 900;
        font-size: 8rem;
        @media(max-width: 768px){
            font-size: 2rem;
        }
    }
    &_paragraph{
        font-size: 2.3rem;
        @media(max-width: 768px){
            font-size: 1rem;
        }
    }
}

.text{
    color: $color-white;

    &--main{
        color: $color-black;
        text-transform: capitalize;
        font-size: 2rem;
    }

    &--main2{
        color: $color-black;
        text-transform: capitalize;
        font-size: 2rem;
    }
    
    &__heading{
        font-size: 2rem;
        color: $color-primary;
    }

    &__heading2{
        font-size: 2rem;
        color: $color-primary;
        font-weight: bold; 
    }
   
    &__subheading{
        font-size: 2rem;
        color: $color-primary;
    }
    &__subheading2{
        font-size: 2rem;
        color: $color-primary;
        text-transform: capitalize;
        font-weight: bolder;
        text-align: center;
    }
    &__subheading3{
        font-size: 2rem;
        color: $color-primary;
        text-transform: capitalize;
        font-weight: bold;
        margin: 2rem 0;
        @media(max-width: 768px){
            font-size: 1.2rem;
        }
    }
    &__pills{
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: normal;
        background-color: $color-secondary;
        @media(max-width: 768px){
            font-size: 1rem;
        }
}

}

.testimony-text{
color: $color-black;
margin-left: 2rem;
margin-top: 1rem;

}

.page-header-text{
    position: absolute;
    color: $color-white;
    font-weight: bolder;
    font-size: 5rem;
    left: 50%;
    top: 20rem;
    transform: translate(-50%, -50%);
    @media(max-width: 768px){
        font-size: 2rem;
    }
}

.page-text{
    position: absolute;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.226);
    font-weight: bolder;
    font-size: 3rem;
    left: 50%;
    top: 12rem;
    transform: translate(-50%, -50%);
    @media(max-width: 768px){
        font-size: 1.5rem;
    }
}

.cardtext{
    color: $color-white;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    @media(max-width: 768px){
        font-size: 1rem;
    }

}

.cardtext-s{
    color: $color-white;
    text-transform: capitalize;
    font-size: 1.1rem;
    @media(max-width: 768px){
        font-size: .8rem;
    }
}

